@import "tailwindcss" source(none);

@source "../js";
@source "../views";
@source "../../app";


/* ---- Design tokens (colors, fonts, breakpoints) ---- */
@theme {
    /* colors */
    --color-dark: #767676;
    --color-primary: #2D2D2D;
    --color-accent: #83B247;
    --color-bgLight: #A0C473;
    --color-headers: #E9F1DE;
    --color-card: #f4f8ee;



    /* fonts */
    --font-head: itc-avant-garde-gothic-pro;
    --font-main: itc-avant-garde-gothic-pro,sans-serif;
    --font-hand: lindsey-signature, sans-serif;
    --font-hand2: la-bohemienne, sans-serif;

    /* breakpoints */
    --breakpoint-sm: 375px;
    --breakpoint-smW: 700px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1800px;
    --breakpoint-qhd: 2560px;
    --breakpoint-4k: 3840px;

}


@layer base {
    h1 {
        @apply font-head text-white font-black uppercase whitespace-nowrap text-[61px] md:text-[59px] lg:text-[72.8px] xl:text-[94.5px] 2xl:text-[105.7px] 3xl:text-[136.6px] leading-[0.75] tracking-[-0.06em] ;
    }

    h2 {
        @apply font-head font-black uppercase text-headers;
    }

    h3 {
        @apply font-hand font-normal text-left  text-accent;
    }

    h4 {
        @apply font-head font-normal text-left text-xl md:text-7xl  text-primary;
    }

    h5 {
        @apply font-main text-primary text-xl md:text-3xl;
    }

    p {
        @apply font-main font-normal text-sm xl:text-lg text-dark;
    }

    li {
        @apply font-main font-thin text-sm xl:text-lg text-primary marker:text-accent list-outside list-disc ml-5;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    /* Animated Svg */
    .animated-svg :deep(svg) {
        display: block;
        width: 100%;
        height: auto;
    }

    .ponavka{
        @apply
        bg-cover
        bg-center
        bg-ponavka;
        }

    .uVankovky{
        @apply
        bg-cover
        bg-center
        bg-uVankovky;
    }
}

/*header section*/
@utility bg-ponavka { background-image: url("/img/bg/ponavka.webp"); }
@utility bg-uVankovky { background-image: url("/img/bg/u-vankovky.webp"); }



